<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header>
	<link th:rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	<script th:src="@{js/jquery-3.3.1.min.js}" type="application/javascript"></script>
	<script th:src="@{js/bootstrap.min.js}" type="application/javascript"></script>
    <style>
        li {
            padding: 7px;
        }
    </style>
</header>
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>

        <form method="POST" action="/process"name="path2form" id="path2form">
            <input type="hidden" name="sss" id="path2" value="">
            <input type="submit" id="path3" value="path" />
        </form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
		<div class="container">
			<div class="col-lg-12 col-md-12">
				<input type="text" name="" id="path-val" value="/home/santoo/" class="form-control"><button class="btn btn-dark"onclick="tst()">Go</button>
			</div>
			<br><br>
			<span>/home/santoo/</span>
			<div class="col-lg-12 col-md-12" style="border: black 1px solid">
				<ul id="list">

				</ul>
			</div>
		</div>
	</div>
	<script>

        function downloadFile(obj){
            var path=$(obj).attr("href");
            $("#path2").val(path)
            $("#path2form").submit();

        }
        function  tst(obj) {
            var path="/"
            if(obj === undefined){
                path=$("#path-val").val();
            }else {
                path =$(obj).attr("path")
            }

            $.ajax({
                url:"/listFiles",
                data:{path:path},
                success:function (resposne) {
                    $("#list").html("");
                    resposne.forEach(function(e){
                        if(e.type === "directory"){
                            $("#list").append("<li path="+e.path+" onclick='tst(this)'>"+e.name+" [Dir]</li>");
						}else if(e.type === "file") {
                            $("#list").append("<li><a href='files2/"+e.path+"'> "+e.name+"</a></li>");
						}

                        //console.log(e)
                    });
                } ,
                error:function (e) {
                    alert(e);
                }
            });
        }
	</script>
</body>
</html>
